@import './../../shared/_variables.scss';

.image-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    @media (max-width: $mobilePx) {
        flex-direction: column;
    }
}

::ng-deep .image-wrapper {
    .overlay {
        display: none;
    }

    &:hover {
        .overlay {
            display: flex;
        }
        mat-card {
            opacity: 0.3;
        }
    }
}

.overlay {
    height: 60px;
    position: absolute;
    top: 50%;
    width: 100%;
    justify-content: center;
    button {
        width: 170px;
    }
}
