/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* .mat-drawer-content {
    background-image: url("/assets/img/fly_cuadros.jpeg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
} */

.full-height {
    height: 100vh;
}

.full-width {
    width: 100%;
}

.bottom-sheet-custom-container {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

mat-drawer-content {
    overflow-x: hidden !important;
}

.no-padding-dialog {
    .mat-dialog-container {
        padding: 0 !important;
    }
}

.mat-raised-button {
    &:hover {
        background-image: linear-gradient(rgb(0 0 0/50%) 0 0);
    }
}

.custom-snackbar {
    max-width: 800px !important;
    width: 650px !important;
}

.success-color {
    color: #15d015;
}

.link-color {
    color:#0076ff
}