<section *ngIf="boxDetail$ | async as boxDetail">
    <mat-card>
        <mat-card-header>
            <mat-card-title style="font-size: 32px">{{boxDetail?.nombre}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p style="margin-top: 16px; font-size: 16px;">
              {{boxDetail.descripcion}}
            </p>
          <div>
          </div>
     </mat-card-content>
    </mat-card>
</section>

<section class="filter-section">
    <mat-chip-list [multiple]="false" [selectable]="true" (change)="onTeamChanges($event)">
        <mat-chip>
            <img matChipAvatar src="https://media.tycsports.com/files/2020/09/04/116649/aldosivi.png" />
        </mat-chip>
        <mat-chip color="primary">
            <img matChipAvatar src="https://media.tycsports.com/files/2020/09/04/116700/argentinos-juniors.png"/>
        </mat-chip>
        <mat-chip color="accent">
            <img matChipAvatar src="https://media.tycsports.com/files/2020/09/04/116701/arsenal.png"/>
        </mat-chip>
        <mat-chip color="accent">
            <img matChipAvatar src="https://media.tycsports.com/files/2020/09/04/116650/atletico-tucuman.png"/>
        </mat-chip>
        <mat-chip color="accent">
            <img matChipAvatar src="https://media.tycsports.com/files/2020/09/04/116702/banfield.png"/>
        </mat-chip>
        <mat-chip>
            <img matChipAvatar src="https://media.tycsports.com/files/2020/09/04/116649/aldosivi.png" />
        </mat-chip>
        <mat-chip color="primary">
            <img matChipAvatar src="https://media.tycsports.com/files/2020/09/04/116700/argentinos-juniors.png"/>
        </mat-chip>
        <mat-chip color="accent">
            <img matChipAvatar src="https://media.tycsports.com/files/2020/09/04/116701/arsenal.png"/>
        </mat-chip>
        <mat-chip color="accent">
            <img matChipAvatar src="https://media.tycsports.com/files/2020/09/04/116650/atletico-tucuman.png"/>
        </mat-chip>
        <mat-chip color="accent">
            <img matChipAvatar src="https://media.tycsports.com/files/2020/09/04/116702/banfield.png"/>
        </mat-chip>
        <mat-chip>
            <img matChipAvatar src="https://media.tycsports.com/files/2020/09/04/116649/aldosivi.png" />
        </mat-chip>
        <mat-chip color="accent">
            <img matChipAvatar src="https://media.tycsports.com/files/2020/09/04/116650/atletico-tucuman.png"/>
        </mat-chip>
        <mat-chip color="accent">
            <img matChipAvatar src="https://media.tycsports.com/files/2020/09/04/116702/banfield.png"/>
        </mat-chip>
        <mat-chip>
            <img matChipAvatar src="https://media.tycsports.com/files/2020/09/04/116649/aldosivi.png" />
        </mat-chip>
        <mat-chip color="accent">
            <img matChipAvatar src="https://media.tycsports.com/files/2020/09/04/116650/atletico-tucuman.png"/>
        </mat-chip>
        <mat-chip color="accent">
            <img matChipAvatar src="https://media.tycsports.com/files/2020/09/04/116702/banfield.png"/>
        </mat-chip>
        <mat-chip>
            <img matChipAvatar src="https://media.tycsports.com/files/2020/09/04/116649/aldosivi.png" />
        </mat-chip>
        <mat-chip color="accent">
            <img matChipAvatar src="https://media.tycsports.com/files/2020/09/04/116650/atletico-tucuman.png"/>
        </mat-chip>
        <mat-chip color="accent">
            <img matChipAvatar src="https://media.tycsports.com/files/2020/09/04/116702/banfield.png"/>
        </mat-chip>
        <mat-chip>
            <img matChipAvatar src="https://media.tycsports.com/files/2020/09/04/116649/aldosivi.png" />
        </mat-chip>
        <mat-chip color="accent">
            <img matChipAvatar src="https://media.tycsports.com/files/2020/09/04/116650/atletico-tucuman.png"/>
        </mat-chip>
        <mat-chip color="accent">
            <img matChipAvatar src="https://media.tycsports.com/files/2020/09/04/116702/banfield.png"/>
        </mat-chip>
        <mat-chip>
            <img matChipAvatar src="https://media.tycsports.com/files/2020/09/04/116649/aldosivi.png" />
        </mat-chip>
        <mat-chip color="accent">
            <img matChipAvatar src="https://media.tycsports.com/files/2020/09/04/116650/atletico-tucuman.png"/>
        </mat-chip>
        <mat-chip color="accent">
            <img matChipAvatar src="https://media.tycsports.com/files/2020/09/04/116702/banfield.png"/>
        </mat-chip>
        <mat-chip>
            <img matChipAvatar src="https://media.tycsports.com/files/2020/09/04/116649/aldosivi.png" />
        </mat-chip>
        <mat-chip>
            <img matChipAvatar src="https://media.tycsports.com/files/2020/09/04/116649/aldosivi.png" />
        </mat-chip>
      </mat-chip-list>
</section>

<div class="image-container">
    <ng-container *ngFor="let painting of paintings$ | async">
        <app-image-card style="flex: 0 1 33%;" [cardInfo]="painting" [showRipple]="false">
            <ng-container slot="actions">
                <button mat-raised-button class="full-width" color="primary" (click)="openReservationConfirmation(painting)">RESERVAR</button>
            </ng-container>
        </app-image-card>
    </ng-container>
</div>