@import './../../../../shared/_variables.scss';

.image-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    @media (max-width: $mobilePx) {
        flex-direction: column;
    }
}

.filter-section {
    margin-top: 16px;
    margin-bottom: 16px;
}

.mat-chip {
    padding: 0 !important;
}

.mat-chip-avatar {
    width: 32px !important;
    height: 32px !important;
}