<form [formGroup]="purchaseForm" (ngSubmit)="confirm()">
    <mat-card class="purchase-card">
        <mat-card-header>
            <mat-card-title>Confirmar reserva</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-list>
                <mat-list-item>
                    <img mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <a mat-list-item>
                        <span mat-line>Shiba Inu</span>
                    </a>
                </mat-list-item>
                <mat-list-item>
                    <div style="display: flex; justify-content: space-between;">
                        <span mat-line>Precio Final</span>
                        <span mat-line>$50.000</span>
                    </div>
                </mat-list-item>
            </mat-list>
            <mat-divider></mat-divider>
            <div>

            </div>
        </mat-card-content>
        <mat-card-actions style="margin: 0 16px;">
            <button mat-raised-button type="submit" class="full-width" color="primary">CONFIRMAR</button>
        </mat-card-actions>
    </mat-card>
</form>

