<mat-drawer-container class="full-height">
  <mat-drawer style="width: 300px;" #drawer mode="side">
    <app-menu></app-menu>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar>
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Fly cuadros</span>
    </mat-toolbar>
    <main class="container" [@routeAnimations]="getRouteAnimationData()">
      <router-outlet></router-outlet>
    </main>
  </mat-drawer-content>
</mat-drawer-container>