@import '~@angular/material/theming';

:host {
  position: relative;
}

.image-card {
  @include mat-elevation-transition;
  &:hover {
    cursor: pointer;
    @include mat-elevation(12);
  }
}

.image-actions {
  max-width: 100%;
  margin-left: 0px !important;
}