<ng-container *ngIf="cardInfo">
  <ng-container *ngIf="showRipple; else noRippleCard">
    <mat-card class="image-card" mat-ripple>
      <ng-template *ngTemplateOutlet="cardTemplate"></ng-template>
    </mat-card>
  </ng-container>
  <ng-template #noRippleCard>
    <mat-card class="image-card">
      <ng-template *ngTemplateOutlet="cardTemplate"></ng-template>
    </mat-card>
  </ng-template>
<ng-content slot="overlay"></ng-content>

<ng-template #cardTemplate>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>{{cardInfo.nombre}}</mat-card-title>
  </mat-card-header>
  <img [src]="cardInfo.imagen" *ngIf="cardInfo.imagen; else carouselTemplate" mat-card-image />
  <ng-template #carouselTemplate>
    <div [style.height]="'400px'">
      <mat-carousel
        #matCarouselSlide
        timings="250ms ease-in"
        color="primary"
        [autoplay]="false"
        (click)="openThumbnail($event)"
        maxWidth="auto"
        [proportion]="100"
        [slides]="cardInfo.imagenes?.length ?? 0"
        [hideArrows]="false"
        [hideIndicators]="false"
        [useKeyboard]="true"
        orientation="ltr"
      >
        <mat-carousel-slide
          *ngFor="let slide of cardInfo.imagenes; let i = index"
          [image]="slide.src"
          overlayColor="#00000040"
          [hideOverlay]="false"
        ></mat-carousel-slide>
      </mat-carousel>
    </div>
  </ng-template>
  <mat-card-content>
    <p style="margin-top: 16px;">
      {{cardInfo.descripcion}}
    </p>
  <div>
  </div>
  </mat-card-content>
  <mat-card-footer>
    <mat-card-actions class="image-actions">
      <ng-content slot="actions"></ng-content>
    </mat-card-actions>
  </mat-card-footer>
</ng-template>

<ng-template #thumbNailDialog>
  <lib-ngx-image-zoom
  [thumbImage]="selectedImage.src"
  [fullImage]="selectedImage.src"
  [enableLens]="true"
  [circularLens]="true"
  [magnification]="1.5"
  [lensWidth]="150"
  [lensHeight]="150"
></lib-ngx-image-zoom>
</ng-template>
</ng-container>



