@import '~@angular/material/theming';

:host {
  position: relative;
}

.image-card {
  @include mat-elevation-transition;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 520px;
  min-height: 520px;
  &:hover {
    cursor: pointer;
    @include mat-elevation(12);
  }
}

.image-actions {
  max-width: 100%;
  margin-left: 0px !important;
}