<ng-container *ngIf="cardInfo">
  <ng-container *ngIf="showRipple; else noRippleCard">
    <mat-card class="image-card" mat-ripple>
      <ng-template *ngTemplateOutlet="cardTemplate"></ng-template>
    </mat-card>
  </ng-container>
  <ng-template #noRippleCard>
    <mat-card class="image-card">
      <ng-template *ngTemplateOutlet="cardTemplate"></ng-template>
    </mat-card>
  </ng-template>
<ng-content slot="overlay"></ng-content>

<ng-template #cardTemplate>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>{{cardInfo.nombre}}</mat-card-title>
    <mat-card-subtitle *ngIf="cardInfo?.medida_data?.tamanio">
      <mat-chip-list>
        <mat-chip [color]="cardInfo?.medida_data?.color" selected> {{cardInfo?.medida_data?.tamanio}}</mat-chip>
      </mat-chip-list>
    </mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="cardInfo.imagen" (click)="openThumbnail()">
  <mat-card-content>
    <p>
      {{cardInfo.descripcion}}
    </p>
    <p class="price" *ngIf="cardInfo?.medida_data?.precio">
      {{cardInfo.medida_data.precio | currency }}
    </p>
  <div>
  </div>
  </mat-card-content>
  <mat-card-footer>
    <mat-card-actions class="image-actions">
      <ng-content slot="actions"></ng-content>
    </mat-card-actions>
  </mat-card-footer>
</ng-template>

<ng-template #thumbNailDialog>
  <lib-ngx-image-zoom
  [thumbImage]="cardInfo.imagen"
  [fullImage]="cardInfo.imagen"
  [enableLens]="true"
  [circularLens]="true"
  [magnification]="2"
  [lensWidth]="150"
  [lensHeight]="150"
></lib-ngx-image-zoom>
</ng-template>
</ng-container>



